
@{
    ViewData["Title"] = "shop";
}


<main>
    <section id="shop">
        <div class="contact-top text-center">
            <h1>SHOP</h1>
            <div class="links">
                <a href="/index.html"><span>Home</span></a>
                <i class="fa-solid fa-circle"></i>
                <a href=""><span>Products</span></a>
            </div>
        </div>
        <div class="shop-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="product-categories">
                            <h6>Product Categories</h6>
                            <ul>
                                <li>
                                    <input type="checkbox">
                                    <label for="">Accessories</label>
                                </li>
                                <li>
                                    <input type="checkbox">
                                    <label for="">Best Seller</label>
                                </li>
                                <li>
                                    <input type="checkbox">
                                    <label for="">Camera</label>
                                </li>
                                <li>
                                    <input type="checkbox">
                                    <label for="">Computer</label>
                                </li>
                                <li>
                                    <input type="checkbox">
                                    <label for="">Featured</label>

                                </li>
                                <li>
                                    <input type="checkbox">
                                    <label for="">Gaming</label>

                                </li>
                                <li>
                                    <input type="checkbox">

                                    <label for="">Headphones</label>
                                </li>
                                <li>
                                    <input type="checkbox">

                                    <label for="">Hot Sell</label>
                                </li>
                                <li>
                                    <input type="checkbox">

                                    <label for="">Mobile & Tablet</label>
                                </li>
                                <li>
                                    <input type="checkbox">

                                    <label for="">Trend</label>
                                </li>
                                <li>
                                    <input type="checkbox">

                                    <label for="">TV & Smart Box</label>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <div class="Product-Status">
                            <h6>Product Status</h6>
                            <ul>
                                <li>
                                    <input type="checkbox">
                                    <label for="">In Stock</label>
                                </li>
                                <li>
                                    <input type="checkbox">
                                    <label for="">On Sale</label>
                                </li>

                            </ul>
                        </div>
                        <br>
                        <div class="colors">
                            <h6>Colors</h6>
                            <ul>
                                <li><a href="">Black</a> <span>25</span></li>
                                <br>
                                <li><a href="">Blue</a> <span>25</span></li>
                                <br>

                                <li><a href="">Pink</a> <span>25</span></li>
                                <br>
                                <li><a href="">Yellow</a> <span>23</span></li>

                            </ul>
                        </div>
                        <br>
                        <div class="sizes">
                            <h6>Sizes</h6>
                            <ul>
                                <li><a href="">L</a> <span>25</span></li>
                                <br>
                                <li><a href="">M</a> <span>25</span></li>
                                <br>
                                <li><a href="">S</a> <span>25</span></li>
                                <br>
                                <li><a href="">XL</a> <span>23</span></li>
                                <br>
                                <li><a href="">XS</a> <span>23</span></li>

                            </ul>
                        </div>
                        <br>
                        <div class="slider">
                            <label for="customRange2" class="form-label">Filter By Price</label>
                            <input type="range" class="form-range" min="0" max="5" id="customRange2">
                            <div class="range-all d-flex flex-wrap justify-content-between">
                                <button>FILTER</button>
                                <span>PRICE: $130 - $500</span>
                            </div>

                        </div>
                        <br>
                        <div class="average-rating">
                            <h6>Average Rating</h6>

                            <ul>
                                <li>
                                    <div>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>

                                    <span>(12)</span>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <div>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>

                                    <span>(12)</span>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <div>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>

                                    <span>(12)</span>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>

                                    <span>(12)</span>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>

                                    <span>(12)</span>
                                </li>
                            </ul>

                        </div>
                        <br>
                        <div class="search d-flex flex-wrap ">
                            <input type="text" placeholder="Search products">
                            <button>Search</button>
                        </div>
                        <br>
                        <div class="product-tags ">
                            <br>
                            <h6>Product Tags</h6>
                            <br>
                            <div class="tags g-4">
                                <a href="">Audio</a>
                                <a href="">Drone</a>
                                <a href="">External</a>
                                <a href="">Group</a>
                                <a href="">Mobile</a>
                                <a href="">Nine</a>
                                <a href="">Oppo</a>
                                <a href="">Phone</a>
                                <a href="">Product</a>
                                <a href="">Special Offer</a>
                                <a href="">Tv</a>
                                <a href="">Variable</a>
                                <a href="">Video</a>
                                <a href="">Watch</a>
                                <a href="">Wifi</a>

                            </div>

                        </div>
                        <div class="on-sale-product">
                            <h6>On-Sale Product</h6>
                            <div class="products">

                                <div class="row">
                                    <div class="info col-lg-6">
                                        <span>Apple 256GB</span>

                                        <p class="new-price">
                                            <del>$250.00</del>
                                            $240.00
                                        </p>

                                    </div>
                                    <div class="photo col-lg-6">
                                        <img src="/Assets/photos/1d20de71-9151-425f-890b-2fd4c703c430.dfbaf58eff390bef1eec9774e2e32233-600x600.jpg"
                                             alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="products">

                                <div class="row">
                                    <div class="info col-lg-6">
                                        <span>Apple 256GB</span>

                                        <p class="new-price">
                                            <span style="color: #7d7d7d;">$250.00</span>

                                        </p>
                                        <ul>
                                            <li>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>



                                            </li>
                                        </ul>

                                    </div>
                                    <!-- <div class="photo col-lg-6">
                                        <img src="/Assets/photos/yellowphone.jpg" alt="">
                                    </div> -->
                                </div>
                            </div>
                            <div class="products">

                                <div class="row">
                                    <div class="info col-lg-6">
                                        <span>Apple 256GB</span>

                                        <p class="new-price">
                                            <span>$250.00 -</span>
                                            $240.00
                                        </p>
                                        <ul>
                                            <li>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>



                                            </li>
                                        </ul>

                                    </div>
                                    <div class="photo col-lg-6">
                                        <img src="/Assets/photos/doublephone.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="All-Products">
                            <h6>Products</h6>
                            <div class="products">

                                <div class="row">
                                    <div class="info col-lg-6">
                                        <span>Apple 256GB</span>

                                        <p class="new-price">
                                            <span style="color: #7d7d7d;">$250.00</span>

                                        </p>
                                        <ul>
                                            <li>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>



                                            </li>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                            <div class="products">

                                <div class="row">
                                    <div class="info col-lg-6">
                                        <span>Apple 256GB</span>

                                        <p class="new-price">
                                            <span>$250.00 -</span>
                                            $240.00
                                        </p>
                                        <ul>
                                            <li>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>



                                            </li>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                            <div class="products">

                                <div class="row">
                                    <div class="info col-lg-6">
                                        <span>Apple 256GB</span>

                                        <p class="new-price">
                                            <del>$250.00</del>
                                            $240.00
                                        </p>

                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-lg-9">
                        <div class="container">
                            <div class="row">
                                <div class="banner">
                                    <div class="back-gr-im">
                                        <img src="/Assets/photos/banner-1.jpg" alt="">
                                        <span>BUILD WITH ELEMENTOR</span>
                                        <h3>Modern Technology Products</h3>
                                        <p>
                                            We’ve gathered all of the features that you might need in order to make your
                                            store online in this them
                                        </p>
                                        <a href="">SHOP NOW -></a>
                                    </div>
                                </div>
                                <div class="product-slic mt-3">
                                    <h4>All Categories</h4>
                                    <div class="categories ">
                                        <div class="container">
                                            <div class="row categoriesSlider">
                                                <div class="col-lg-2">
                                                    <div class="all-prod">
                                                        <a href="">
                                                            <div class="cat-img" style="position: relative;">
                                                                <img class="w-100" src="/Assets/photos/shop-slider1.jpg"
                                                                     alt="">
                                                                <span style="position:absolute ; top: 7px; left: 7px; padding: 3px; background-color: #ff6000; color: #fff;width: 20px;height: 22px; text-align: center;">1</span>
                                                            </div>
                                                            <h4 style="font-size: 15px; color: #252525; font-weight: bolder; margin: 10px 0 20px ;">
                                                                Accessories
                                                            </h4>
                                                        </a>
                                                    </div>



                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="all-prod">
                                                        <a href="">
                                                            <div class="cat-img" style="position: relative;">
                                                                <img class="w-100" src="/Assets/photos/shop-slider1.jpg"
                                                                     alt="">
                                                                <span style="position:absolute ; top: 7px; left: 7px; padding: 3px; background-color: #ff6000; color: #fff;width: 20px;height: 22px; text-align: center;">1</span>
                                                            </div>
                                                            <h4 style="font-size: 15px; color: #252525; font-weight: bolder; margin: 10px 0 20px ;">
                                                                Accessories
                                                            </h4>
                                                        </a>
                                                    </div>



                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="all-prod">
                                                        <a href="">
                                                            <div class="cat-img" style="position: relative;">
                                                                <img class="w-100" src="/Assets/photos/shop-slider1.jpg"
                                                                     alt="">
                                                                <span style="position:absolute ; top: 7px; left: 7px; padding: 3px; background-color: #ff6000; color: #fff;width: 20px;height: 22px; text-align: center;">1</span>
                                                            </div>
                                                            <h4 style="font-size: 15px; color: #252525; font-weight: bolder; margin: 10px 0 20px ;">
                                                                Accessories
                                                            </h4>
                                                        </a>
                                                    </div>



                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="all-prod">
                                                        <a href="">
                                                            <div class="cat-img" style="position: relative;">
                                                                <img class="w-100" src="/Assets/photos/shop-slider1.jpg"
                                                                     alt="">
                                                                <span style="position:absolute ; top: 7px; left: 7px; padding: 3px; background-color: #ff6000; color: #fff;width: 20px;height: 22px; text-align: center;">1</span>
                                                            </div>
                                                            <h4 style="font-size: 15px; color: #252525; font-weight: bolder; margin: 10px 0 20px ;">
                                                                Accessories
                                                            </h4>
                                                        </a>
                                                    </div>



                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="all-prod">
                                                        <a href="">
                                                            <div class="cat-img" style="position: relative;">
                                                                <img class="w-100" src="/Assets/photos/shop-slider1.jpg"
                                                                     alt="">
                                                                <span style="position:absolute ; top: 7px; left: 7px; padding: 3px; background-color: #ff6000; color: #fff;width: 20px;height: 22px; text-align: center;">1</span>
                                                            </div>
                                                            <h4 style="font-size: 15px; color: #252525; font-weight: bolder; margin: 10px 0 20px ;">
                                                                Accessories
                                                            </h4>
                                                        </a>
                                                    </div>



                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="all-prod">
                                                        <a href="">
                                                            <div class="cat-img" style="position: relative;">
                                                                <img class="w-100" src="/Assets/photos/shop-slider1.jpg"
                                                                     alt="">
                                                                <span style="position:absolute ; top: 7px; left: 7px; padding: 3px; background-color: #ff6000; color: #fff;width: 20px;height: 22px; text-align: center;">1</span>
                                                            </div>
                                                            <h4 style="font-size: 15px; color: #252525; font-weight: bolder; margin: 10px 0 20px ;">
                                                                Accessories
                                                            </h4>
                                                        </a>
                                                    </div>



                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="all-prod">
                                                        <a href="">
                                                            <div class="cat-img" style="position: relative;">
                                                                <img class="w-100" src="/Assets/photos/shop-slider1.jpg"
                                                                     alt="">
                                                                <span style="position:absolute ; top: 7px; left: 7px; padding: 3px; background-color: #ff6000; color: #fff;width: 20px;height: 22px; text-align: center;">1</span>
                                                            </div>
                                                            <h4 style="font-size: 15px; color: #252525; font-weight: bolder; margin: 10px 0 20px ;">
                                                                Accessories
                                                            </h4>
                                                        </a>
                                                    </div>



                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="all-prod">
                                                        <a href="">
                                                            <div class="cat-img" style="position: relative;">
                                                                <img class="w-100" src="/Assets/photos/shop-slider1.jpg"
                                                                     alt="">
                                                                <span style="position:absolute ; top: 7px; left: 7px; padding: 3px; background-color: #ff6000; color: #fff;width: 20px;height: 22px; text-align: center;">1</span>
                                                            </div>
                                                            <h4 style="font-size: 15px; color: #252525; font-weight: bolder; margin: 10px 0 20px ;">
                                                                Accessories
                                                            </h4>
                                                        </a>
                                                    </div>



                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="all-prod">
                                                        <a href="">
                                                            <div class="cat-img" style="position: relative;">
                                                                <img class="w-100" src="/Assets/photos/shop-slider1.jpg"
                                                                     alt="">
                                                                <span style="position:absolute ; top: 7px; left: 7px; padding: 3px; background-color: #ff6000; color: #fff;width: 20px;height: 22px; text-align: center;">1</span>
                                                            </div>
                                                            <h4 style="font-size: 15px; color: #252525; font-weight: bolder; margin: 10px 0 20px ;">
                                                                Accessories
                                                            </h4>
                                                        </a>
                                                    </div>



                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="all-prod">
                                                        <a href="">
                                                            <div class="cat-img" style="position: relative;">
                                                                <img class="w-100" src="/Assets/photos/shop-slider1.jpg"
                                                                     alt="">
                                                                <span style="position:absolute ; top: 7px; left: 7px; padding: 3px; background-color: #ff6000; color: #fff;width: 20px;height: 22px; text-align: center;">1</span>
                                                            </div>
                                                            <h4 style="font-size: 15px; color: #252525; font-weight: bolder; margin: 10px 0 20px ;">
                                                                Accessories
                                                            </h4>
                                                        </a>
                                                    </div>



                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="all-prod">
                                                        <a href="">
                                                            <div class="cat-img" style="position: relative;">
                                                                <img class="w-100" src="/Assets/photos/shop-slider1.jpg"
                                                                     alt="">
                                                                <span style="position:absolute ; top: 7px; left: 7px; padding: 3px; background-color: #ff6000; color: #fff;width: 20px;height: 22px; text-align: center;">1</span>
                                                            </div>
                                                            <h4 style="font-size: 15px; color: #252525; font-weight: bolder; margin: 10px 0 20px ;">
                                                                Accessories
                                                            </h4>
                                                        </a>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>

                                <div class="col-lg-6">
                                    <div class="filters d-flex flex-wrap">
                                        <div class="left">
                                            <span style="margin-top: 3rem;">Home / Products</span>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-lg-6 ">
                                    <div class="right text-start">
                                        <span class="show_btn">Show</span>
                                        <span>9 / 12 / 18 / 24</span>
                                        <i class="fa-solid fa-table-columns"></i>
                                        <i class="fa-solid fa-border-all"></i>
                                        <i class="fa-solid fa-table-cells"></i>
                                        <select>
                                            <option data-display="Sort By Latest" value="">Sort by Latest</option>
                                            <option value="1">Sort by popularity</option>
                                            <option value="2">Sort by average rating</option>
                                            <option value="3">Sort by latest</option>
                                            <option value="4">Sort by price: low to high</option>
                                            <option value="5">Sort by price: high to low</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="prodContent">
                                        <div class="prod-img">
                                            <img class="w-100" src="Assets/photos/yellowphone.jpg" alt="">

                                        </div>
                                        <div class="prodName text-center">
                                            <a href="">Samsung</a>
                                        </div>
                                        <div class="cartAdd">
                                            <div style="color: #252525; background-color:#fff ; border-bottom: 1px solid #8c8c8c;"
                                                 class="cartTop d-flex flex-wrap justify-content-evenly align-items-center">
                                                <i class="fa-solid fa-eye"></i>
                                                <i class="fa-regular fa-heart"></i>
                                                <i class="fa-solid fa-arrows-rotate"></i>
                                            </div>
                                            <div class="cartBottom "
                                                 style="padding: 0 20px;background-color:#252525 ;">
                                                <a style=" color: #fff;" href="">Add To Cart</a>
                                            </div>
                                        </div>
                                        <span style="color: #f7ba01; text-align: center;">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </span>
                                        <div class="prodPrice text-center">
                                            <span style="color: #ff6000;">
                                                <del style="color:#7d7d7d ;">$250.00</del> $240.00
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="prodContent">
                                        <div class="prod-img">
                                            <img class="w-100" src="Assets/photos/yellowphone.jpg" alt="">

                                        </div>
                                        <div class="prodName text-center">
                                            <a href="">Samsung</a>
                                        </div>
                                        <div class="cartAdd">
                                            <div style="color: #252525; background-color:#fff ; border-bottom: 1px solid #8c8c8c;"
                                                 class="cartTop d-flex flex-wrap justify-content-evenly align-items-center">
                                                <i class="fa-solid fa-eye"></i>
                                                <i class="fa-regular fa-heart"></i>
                                                <i class="fa-solid fa-arrows-rotate"></i>
                                            </div>
                                            <div class="cartBottom "
                                                 style="padding: 0 20px;background-color:#252525 ;">
                                                <a style=" color: #fff;" href="">Add To Cart</a>
                                            </div>
                                        </div>
                                        <span style="color: #f7ba01; text-align: center;">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </span>
                                        <div class="prodPrice text-center">
                                            <span style="color: #ff6000;">
                                                <del style="color:#7d7d7d ;">$250.00</del> $240.00
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="prodContent">
                                        <div class="prod-img">
                                            <img class="w-100" src="Assets/photos/yellowphone.jpg" alt="">

                                        </div>
                                        <div class="prodName text-center">
                                            <a href="">Samsung</a>
                                        </div>
                                        <div class="cartAdd">
                                            <div style="color: #252525; background-color:#fff ; border-bottom: 1px solid #8c8c8c;"
                                                 class="cartTop d-flex flex-wrap justify-content-evenly align-items-center">
                                                <i class="fa-solid fa-eye"></i>
                                                <i class="fa-regular fa-heart"></i>
                                                <i class="fa-solid fa-arrows-rotate"></i>
                                            </div>
                                            <div class="cartBottom "
                                                 style="padding: 0 20px;background-color:#252525 ;">
                                                <a style=" color: #fff;" href="">Add To Cart</a>
                                            </div>
                                        </div>
                                        <span style="color: #f7ba01; text-align: center;">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </span>
                                        <div class="prodPrice text-center">
                                            <span style="color: #ff6000;">
                                                <del style="color:#7d7d7d ;">$250.00</del> $240.00
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="prodContent">
                                        <div class="prod-img">
                                            <img class="w-100" src="Assets/photos/yellowphone.jpg" alt="">

                                        </div>
                                        <div class="prodName text-center">
                                            <a href="">Samsung</a>
                                        </div>
                                        <div class="cartAdd">
                                            <div style="color: #252525; background-color:#fff ; border-bottom: 1px solid #8c8c8c;"
                                                 class="cartTop d-flex flex-wrap justify-content-evenly align-items-center">
                                                <i class="fa-solid fa-eye"></i>
                                                <i class="fa-regular fa-heart"></i>
                                                <i class="fa-solid fa-arrows-rotate"></i>
                                            </div>
                                            <div class="cartBottom "
                                                 style="padding: 0 20px;background-color:#252525 ;">
                                                <a style=" color: #fff;" href="">Add To Cart</a>
                                            </div>
                                        </div>
                                        <span style="color: #f7ba01; text-align: center;">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </span>
                                        <div class="prodPrice text-center">
                                            <span style="color: #ff6000;">
                                                <del style="color:#7d7d7d ;">$250.00</del> $240.00
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="prodContent">
                                        <div class="prod-img">
                                            <img class="w-100" src="Assets/photos/yellowphone.jpg" alt="">

                                        </div>
                                        <div class="prodName text-center">
                                            <a href="">Samsung</a>
                                        </div>
                                        <div class="cartAdd">
                                            <div style="color: #252525; background-color:#fff ; border-bottom: 1px solid #8c8c8c;"
                                                 class="cartTop d-flex flex-wrap justify-content-evenly align-items-center">
                                                <i class="fa-solid fa-eye"></i>
                                                <i class="fa-regular fa-heart"></i>
                                                <i class="fa-solid fa-arrows-rotate"></i>
                                            </div>
                                            <div class="cartBottom "
                                                 style="padding: 0 20px;background-color:#252525 ;">
                                                <a style=" color: #fff;" href="">Add To Cart</a>
                                            </div>
                                        </div>
                                        <span style="color: #f7ba01; text-align: center;">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </span>
                                        <div class="prodPrice text-center">
                                            <span style="color: #ff6000;">
                                                <del style="color:#7d7d7d ;">$250.00</del> $240.00
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="prodContent">
                                        <div class="prod-img">
                                            <img class="w-100" src="Assets/photos/yellowphone.jpg" alt="">

                                        </div>
                                        <div class="prodName text-center">
                                            <a href="">Samsung</a>
                                        </div>
                                        <div class="cartAdd">
                                            <div style="color: #252525; background-color:#fff ; border-bottom: 1px solid #8c8c8c;"
                                                 class="cartTop d-flex flex-wrap justify-content-evenly align-items-center">
                                                <i class="fa-solid fa-eye"></i>
                                                <i class="fa-regular fa-heart"></i>
                                                <i class="fa-solid fa-arrows-rotate"></i>
                                            </div>
                                            <div class="cartBottom "
                                                 style="padding: 0 20px;background-color:#252525 ;">
                                                <a style=" color: #fff;" href="">Add To Cart</a>
                                            </div>
                                        </div>
                                        <span style="color: #f7ba01; text-align: center;">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </span>
                                        <div class="prodPrice text-center">
                                            <span style="color: #ff6000;">
                                                <del style="color:#7d7d7d ;">$250.00</del> $240.00
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="prodContent">
                                        <div class="prod-img">
                                            <img class="w-100" src="Assets/photos/yellowphone.jpg" alt="">

                                        </div>
                                        <div class="prodName text-center">
                                            <a href="">Samsung</a>
                                        </div>
                                        <div class="cartAdd">
                                            <div style="color: #252525; background-color:#fff ; border-bottom: 1px solid #8c8c8c;"
                                                 class="cartTop d-flex flex-wrap justify-content-evenly align-items-center">
                                                <i class="fa-solid fa-eye"></i>
                                                <i class="fa-regular fa-heart"></i>
                                                <i class="fa-solid fa-arrows-rotate"></i>
                                            </div>
                                            <div class="cartBottom "
                                                 style="padding: 0 20px;background-color:#252525 ;">
                                                <a style=" color: #fff;" href="">Add To Cart</a>
                                            </div>
                                        </div>
                                        <span style="color: #f7ba01; text-align: center;">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </span>
                                        <div class="prodPrice text-center">
                                            <span style="color: #ff6000;">
                                                <del style="color:#7d7d7d ;">$250.00</del> $240.00
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="prodContent">
                                        <div class="prod-img">
                                            <img class="w-100" src="Assets/photos/yellowphone.jpg" alt="">

                                        </div>
                                        <div class="prodName text-center">
                                            <a href="">Samsung</a>
                                        </div>
                                        <div class="cartAdd">
                                            <div style="color: #252525; background-color:#fff ; border-bottom: 1px solid #8c8c8c;"
                                                 class="cartTop d-flex flex-wrap justify-content-evenly align-items-center">
                                                <i class="fa-solid fa-eye"></i>
                                                <i class="fa-regular fa-heart"></i>
                                                <i class="fa-solid fa-arrows-rotate"></i>
                                            </div>
                                            <div class="cartBottom "
                                                 style="padding: 0 20px;background-color:#252525 ;">
                                                <a style=" color: #fff;" href="">Add To Cart</a>
                                            </div>
                                        </div>
                                        <span style="color: #f7ba01; text-align: center;">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </span>
                                        <div class="prodPrice text-center">
                                            <span style="color: #ff6000;">
                                                <del style="color:#7d7d7d ;">$250.00</del> $240.00
                                            </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="featured-prod g-4 d-flex flex-wrap justify-content-between">
                                    <div class="col-lg-3">
                                        <div class="featured">
                                            <div class="heads d-flex flex-wrap justify-content-between">
                                                <h4>Featured</h4>
                                                <a href="">view all</a>
                                            </div>
                                            <hr>

                                            <div class="middle d-flex flex-wrap justify-content-around align-items-center">
                                                <div class="left_m">
                                                    <p>sale!</p>
                                                    <img src="./Assets//photos/middle.jpg" alt="">
                                                </div>

                                                <div class="title text-center">
                                                    <h6>Apple 256GB</h6>
                                                    <h6 style="color: #ff6000;">US $240.00</h6>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="middle d-flex flex-wrap justify-content-around align-items-center">
                                                <div class="left_m">
                                                    <p>sale!</p>
                                                    <img src="./Assets//photos/middle.jpg" alt="">
                                                </div>


                                                <div class="title text-center">
                                                    <h6>Apple 256GB</h6>
                                                    <h6 style="color: #ff6000;">US $240.00</h6>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="middle d-flex flex-wrap justify-content-around align-items-center">
                                                <div class="left_m">
                                                    <p>sale!</p>
                                                    <img src="./Assets//photos/middle.jpg" alt="">
                                                </div>

                                                <div class="title text-center">
                                                    <h6>Apple 256GB</h6>
                                                    <h6 style="color: #ff6000;">US $240.00</h6>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="featured">
                                            <div class="heads d-flex flex-wrap justify-content-between">
                                                <h3>Featured</h3>
                                                <a href="">view all</a>
                                            </div>
                                            <hr>
                                            <div class="middle d-flex flex-wrap justify-content-around align-items-center">
                                                <div class="left_m">
                                                    <p>sale!</p>
                                                    <img src="./Assets//photos/middle.jpg" alt="">
                                                </div>

                                                <div class="title text-center">
                                                    <h6>Apple 256GB</h6>
                                                    <h6 style="color: #ff6000;">US $240.00</h6>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="middle d-flex flex-wrap justify-content-around align-items-center">
                                                <div class="left_m">
                                                    <p>sale!</p>
                                                    <img src="./Assets//photos/middle.jpg" alt="">
                                                </div>

                                                <div class="title text-center">
                                                    <h6>Apple 256GB</h6>
                                                    <h6 style="color: #ff6000;">US $240.00</h6>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="middle d-flex flex-wrap justify-content-around align-items-center">
                                                <div class="left_m">
                                                    <p>sale!</p>
                                                    <img src="./Assets//photos/middle.jpg" alt="">
                                                </div>

                                                <div class="title text-center">
                                                    <h6>Apple 256GB</h6>
                                                    <h6 style="color: #ff6000;">US $240.00</h6>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="featured ">
                                            <div class="heads d-flex flex-wrap">
                                                <h3>Featured</h3>
                                                <a href="">view all</a>
                                            </div>
                                            <hr>

                                            <div class="middle d-flex flex-wrap justify-content-around align-items-center">
                                                <div class="left_m">
                                                    <p>sale!</p>
                                                    <img src="./Assets//photos/middle.jpg" alt="">
                                                </div>

                                                <div class="title text-center">
                                                    <h6>Apple 256GB</h6>
                                                    <h6 style="color: #ff6000;">US $240.00</h6>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="middle d-flex flex-wrap justify-content-around align-items-center">
                                                <div class="left_m">
                                                    <p>sale!</p>
                                                    <img src="./Assets//photos/middle.jpg" alt="">
                                                </div>

                                                <div class="title text-center">
                                                    <h6>Apple 256GB</h6>
                                                    <h6 style="color: #ff6000;">US $240.00</h6>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="middle d-flex flex-wrap justify-content-around align-items-center">
                                                <div class="left_m">
                                                    <p>sale!</p>
                                                    <img src="./Assets//photos/middle.jpg" alt="">
                                                </div>

                                                <div class="title text-center">
                                                    <h6>Apple 256GB</h6>
                                                    <h6 style="color: #ff6000;">US $240.00</h6>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="banner">
                                    <div class="back-gr-im">
                                        <img src="/Assets/photos/banner-2.jpg" alt="">
                                        <span>BUILD WITH ELEMENTOR</span>
                                        <h3>Modern Technology Products</h3>
                                        <p>
                                            We’ve gathered all of the features that you might need in order to make your
                                            store online in this them
                                        </p>
                                        <a href="">SHOP NOW -></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</main>
